<html>
    
<script src="/qrcode.js"></script>
<body>
<div id="qrcode"></div>
<script type="text/javascript" >
new QRCode(document.getElementById("qrcode"), "199004072057725907018697");
</script>
</body>
</html>